<div class="result-wrapper">

    <h1 class="{{ validClass }}">{{ result }}</h1>

    <a href="" class="btn btn-danger"><span class="icon-ccw"></span>Recommencer</a> <button class="btn btn-primary share-facebook"><span class="icon-facebook"></span>Partagez</button>

</div>