.DS_STORE
.idea

extend_based/.idea
extend_based/.sass-cache
extend_based/public/css/style.css
extend_based/public/css/style.css.map
extend_based/public/js/app.js
extend_based/public/js/app.js.map
extend_based/public/js/vendor.js
extend_based/public/js/vendor.js.map
extend_based/preprocess/app/_OLD
extend_based/preprocess/node_modules
extend_based/preprocess/vendor/bower_components
extend_based/preprocess/tmp
extend_based/preprocess/.idea

extend_based/.idea
extend_based/.sass-cache
extend_based/public/css/style.css
extend_based/public/css/style.css.map
extend_based/public/js/app.js
extend_based/public/js/app.js.map
extend_based/public/js/vendor.js
extend_based/public/js/vendor.js.map
extend_based/preprocess/app/_OLD
extend_based/preprocess/node_modules
extend_based/preprocess/vendor/bower_components
extend_based/preprocess/tmp
extend_based/preprocess/.idea

