.introduction,
.result {

  position: fixed;
  width: 100%;
  height: 100%;
  background: #333333;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;

  &:after {
    content:'';
    width:0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  .result-wrapper,
  .intro-wrapper {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    display: inline-block;
    margin:0 auto;

    padding: 30px;

    background: white;

  }

    .icon-facebook {
      vertical-align: middle;
      &:before{
        font-size: 1.2em;
      }
    }

  .result-wrapper h1 {

    &:before {
      color: red;
    }

    &.icon-ok-circled {
      &:before {
        color: green;
      }
    }
  }
}