<div class="intro-wrapper">
    <div class="col-xs-12">Tester vos connaissances sur le code de la route.</div>

    <h2>Etes vous pret ?</h2>

    <button class="btn btn-primary start">Commencer</button>
</div>