<div class="result-wrapper">

    <h1 class="{{ validClass }}">{{ result }}</h1>

    <a href="" class="btn btn-danger">Recommencer</a> <button class="btn btn-primary icon-facebook"> Partagez</button>

</div>